.section-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  text-align: left;
}

.about-text {
  font-size: 18px;
  padding-bottom: 10px;
}

.about-team-photo-container {
  margin: auto;
  width: 75%;
}

@media screen and (max-width: 1200px) {
  .about-team-photo-container {
    margin: auto;
    width: 100%;
  }
}

.about-team-photo {
  max-width: 100%;
  height: auto;
}

.about-photo-caption {
  font-size: 18px;
  padding-bottom: 50px;
  text-align: center;
}

.faq-text {
  font-size: 18px;
}
